<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Lab express basic website - About</title>
    <link rel="stylesheet" href="./css/css.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link " href="/">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link active" href="/about">About</a>
                        <a class="nav-item nav-link" href="/works">Works</a>
                        <a class="nav-item nav-link " href="/gallery">Gallery</a>
                    </div>
                </div>
            </nav>
        </header>

        <main class="d-flex-column" style="background-color: white;">
            <div style="text-align: center; margin-top:40px;">
                <img src="./images/quentintarantino.jpg" alt="Quentin Tarantino"
                    style="min-height: 300px; max-height: 300px; margin-top:40px">
            </div>
            <p style="margin:50px 30px;" class="text-justify"><strong>Quentin Tarantino</strong>, in full Quentin Jerome
                Tarantino, (born
                March
                27, 1963,
                Knoxville, Tennessee, U.S.),
                American director and screenwriter whose films are noted for their stylized violence, razor-sharp
                dialogue, and fascination with film and pop culture.

                Tarantino worked in a video store in California before selling two screenplays that became True Romance
                (1993) and Oliver Stone’s Natural Born Killers (1994). In 1992 he made his directing debut with
                Reservoir Dogs, a violent film about a failed jewelry store robbery. Two years later he established
                himself as a leading director with Pulp Fiction. The provocative film, which featured intersecting crime
                stories, won the Palme d’Or at the Cannes film festival, and Tarantino later received (with Roger Avary)
                an Academy Award for best original screenplay. For Jackie Brown (1997), he adapted an Elmore Leonard
                novel about a flight attendant entangled in criminal activities.</p>
            <p style="margin:50px 30px;" class="text-justify">Tarantino subsequently wrote and directed Kill Bill: Vol.
                1
                (2003) and Kill
                Bill: Vol. 2 (2004), which
                centres on a trained assassin (played by Uma Thurman) and her quest for revenge. Grindhouse (2007), an
                homage to B-movie double features, paired Tarantino’s Death Proof, a thriller about a homicidal
                stuntman, with Robert Rodriguez’s horror film Planet Terror. Tarantino’s next three films took an
                irreverent approach to history. Inglourious Basterds (2009), set during World War II, follows a group of
                Jewish American soldiers trained to kill Nazis in German-occupied France. Django Unchained (2012), set
                in the antebellum American South, tells the lively tale of a freed slave attempting to rescue his wife
                from a cruel plantation owner. For writing the screenplay of that film, Tarantino won another Academy
                Award. The post-Civil War western The Hateful Eight (2015) chronicles the fisticuffs and verbal barbs
                exchanged by a group of travelers trapped at an inn during a snowstorm. His next film, Once Upon a
                Time…in Hollywood (2019), centres on a washed-up actor (Leonardo DiCaprio) and his stuntman (Brad Pitt),
                both of whom cross paths with Charles Manson in 1969 Los Angeles. The movie received a standing ovation
                when it premiered at the Cannes film festival. In 2021 Tarantino published a novel based on the dramedy.
            </p><br><br>
        </main>

        <!-- Footer -->
        <footer class="text-center text-lg-start bg-light text-muted">
            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3 ">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4" style="margin-top: 40px;">

                            </h6>
                            <p>
                                Quentin Tarantino rulez.
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4" style="margin-top: 40px;">
                                Useful Links
                            </h6>
                            <p>
                                <a href="https://www.imdb.com/name/nm0000233/?ref_=fn_al_nm_1" class="text-reset"
                                    target="_blank">IMDB</a>
                            </p>
                            <p>
                                <a href="https://en.wikipedia.org/wiki/Quentin_Tarantino" class="text-reset"
                                    target="_blank">Wikipedia</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4" style="margin-top: 40px;">
                                Best cameo ever
                            </h6>
                            <p>
                                <a href="https://www.youtube.com/watch?v=Nq-ncj5mzsY&ab_channel=Dami%C3%A1nHern%C3%A1ndez"
                                    class="text-reset" target="_blank">Little Nicky</a>
                            </p>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4" style="margin-top: 40px;">
                                Contact
                            </h6>
                            <p><i class="fas fa-home me-3"></i> Los Angeles, Hollywood</p>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                                notQuentin@gmail.com <br>(hope this don't exist)
                            </p>
                            <p><i class="fas fa-phone me-3"></i> + 66 938 22 XXX</p>
                            <p><i class="fas fa-print me-3"></i> + 66 938 22 XXX</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2021 Copyright:
                <a class="text-reset fw-bold" href="#">I guess, localhost</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>