<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Lab express basic website - Works</title>
    <link rel="stylesheet" href="./css/css.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link " href="/">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="/about">About</a>
                        <a class="nav-item nav-link active" href="/works">Works</a>
                        <a class="nav-item nav-link" href="/gallery">Gallery</a>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <h3 class="text-center" style="margin:40px 0; background-color: black; color:white;">Movies where he worked
                as director, writer or producer.</h3>
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="./images/reservoir.jpg" alt="Reservoir dogs cover">
                    <div class="card-body">
                        <h5 class="card-title text-center">Reservoir Dogs</h5>
                        <p class="card-text text-justify">Six criminals with pseudonyms, and each strangers to one
                            another, are hired
                            to carry out a robbery. The heist is ambushed by police and the gang are forced to shoot
                            their way out. At their warehouse rendezvous, the survivors, realising that they were set
                            up, try to find the traitor in their midst.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">IMDB <a href="https://www.imdb.com/title/tt0105236/" target="_blank">
                                Reservoir
                                Dogs</a></small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./images/trueromance.jpg" alt="True romance cover">
                    <div class="card-body">
                        <h5 class="card-title text-center">True romance</h5>
                        <p class="card-text text-justify">A comic-book nerd and Elvis fanatic Clarence (Christian
                            Slater) and a
                            prostitute named Alabama (Patricia Arquette) fall in love. Clarence breaks the news to her
                            pimp and ends up killing him. He grabs a suitcase of cocaine on his way out thinking it is
                            Alabama's clothing. The two hit the road for California hoping to sell the cocaine, but the
                            mob is soon after them.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">IMDB <a href="https://www.imdb.com/title/tt0108399/" target="_blank">
                                True romance</a></small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./images/pulpfiction.jpg" alt="Pulp fiction cover">
                    <div class="card-body">
                        <h5 class="card-title text-center">Pulp fiction</h5>
                        <p class="card-text text-justify">Vincent Vega (John Travolta) and Jules Winnfield (Samuel L.
                            Jackson) are
                            hitmen with a penchant for philosophical discussions. In this ultra-hip, multi-strand crime
                            movie, their storyline is interwoven with those of their boss, gangster Marsellus Wallace
                            (Ving Rhames) ; his actress wife, Mia (Uma Thurman) ; struggling boxer Butch Coolidge (Bruce
                            Willis) ; master fixer Winston Wolfe (Harvey Keitel) and a nervous pair of armed robbers,
                            "Pumpkin" (Tim Roth) and "Honey Bunny" (Amanda Plummer).</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">IMDB <a href="https://www.imdb.com/title/tt0110912/" target="_blank">
                                Pulp fiction</a></small>
                    </div>
                </div>
            </div>
            <!-- SECOND ROW -->
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="./images/naturalborn.jpg" alt="Natural born killers cover">
                    <div class="card-body">
                        <h5 class="card-title text-center">Natural born killers</h5>
                        <p class="card-text text-justify">Woody Harrelson and Juliette Lewis are two young, attractive
                            serial killers who become tabloid-TV darlings, thanks to a sensationalistic press led by
                            Robert Downey Jr. The press reports the pair as they go on a 52 people killing spree. A
                            controversial look at the way the media portrays criminals.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">IMDB <a href="https://www.imdb.com/title/tt0110632/" target="_blank">
                                Natural born killers</a></small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./images/fourrooms.jpg" alt="Four rooms cover">
                    <div class="card-body">
                        <h5 class="card-title text-center">Four rooms</h5>
                        <p class="card-text text-justify">Working New Year's Eve at a hotel in Hollywood, Calif., the
                            new bellhop, Ted (Tim Roth), has no idea what's in store for him. Left alone to tend to the
                            guests, Ted soon finds himself in completely over his head. Between a domestic dispute and a
                            demented entourage, spell-casting witches and destructive children, Ted has little hope of
                            making it through the night in one piece. As he tries to maintain order and save his own
                            life, the unlucky bellhop encounters one deranged guest after another.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">IMDB <a href="https://www.imdb.com/title/tt0113101/" target="_blank">
                                Four rooms</a></small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./images/fdtd.jpg" alt="From dusk til dawn cover">
                    <div class="card-body">
                        <h5 class="card-title text-center">From dusk til dawn</h5>
                        <p class="card-text text-justify">Starring Harvey Keitel, George Clooney, Tarantino, and
                            Juliette Lewis, the plot follows a pair of American criminal brothers (Clooney and
                            Tarantino) who take a family as hostages (Keitel, Liu and Lewis) in order to cross into
                            Mexico, but ultimately find themselves trapped in a saloon frequented by vampires.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">IMDB <a href="https://www.imdb.com/title/tt0116367/" target="_blank">
                                From dusk til dawn</a></small>
                    </div>
                </div>
            </div>
            <!-- THIRD ROW -->
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="./images/jb.jpg" alt="Jackie Brown">
                    <div class="card-body">
                        <h5 class="card-title text-center">Jackie Brown</h5>
                        <p class="card-text text-justify">When flight attendant Jackie Brown (Pam Grier) is busted
                            smuggling money for her arms dealer boss, Ordell Robbie (Samuel L. Jackson), agent Ray
                            Nicolette (Michael Keaton) and detective Mark Dargus (Michael Bowen) want her help to bring
                            down Robbie. Facing jail time for her silence or death for her cooperation, Brown decides
                            instead to double-cross both parties and make off with the smuggled money. Meanwhile, she
                            enlists the help of bondsman Max Cherry (Robert Forster), a man who loves her.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">IMDB <a href="https://www.imdb.com/title/tt0119396/" target="_blank">
                                Jackie Brown</a></small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./images/kb1.jpg" alt="Kill Bill 1 cover">
                    <div class="card-body">
                        <h5 class="card-title text-center">Kill Bill vol. 1</h5>
                        <p class="card-text text-justify">A former assassin, known simply as The Bride (Uma Thurman),
                            wakes from a coma four years after her jealous ex-lover Bill (David Carradine) attempts to
                            murder her on her wedding day. Fueled by an insatiable desire for revenge, she vows to get
                            even with every person who contributed to the loss of her unborn child, her entire wedding
                            party, and four years of her life. After devising a hit list, The Bride sets off on her
                            quest, enduring unspeakable injury and unscrupulous enemies.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">IMDB <a href="https://www.imdb.com/title/tt00266697/" target="_blank">
                                Kill Bill vol. 1</a></small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./images/kb2.jpg" alt="Kill Bill 2 cover">
                    <div class="card-body">
                        <h5 class="card-title text-center">Kill Bill vol. 2</h5>
                        <p class="card-text text-justify">The Bride (Uma Thurman) picks up where she left off in volume
                            one with her quest to finish the hit list she has composed of all of the people who have
                            wronged her, including ex-boyfriend Bill (David Carradine), who tried to have her killed
                            four years ago during her wedding to another man. Leaving several dead in her wake, she
                            eventually tracks down Bill in Mexico. Using skills she has learned during her assassin
                            career, she attempts to finish what she set out to do in the first place.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">IMDB <a href="https://www.imdb.com/title/tt0378194/" target="_blank">
                                Kill Bill vol. 2</a></small>
                    </div>
                </div>
            </div>
            <!-- FOUR ROW -->
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="./images/sc.jpg" alt="Sin city cover">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sin city</h5>
                        <p class="card-text text-justify">In this quartet of neo-noir tales, a mysterious salesman (Josh
                            Hartnett) narrates a tragic story of co-dependency, while a musclebound vigilante (Mickey
                            Rourke) tears his way through the criminal underworld in search of his lost love (Jaime
                            King). In another part of the city, a grizzled cop (Bruce Willis) foils the ambitions of a
                            child-killer (Nick Stahl), and an ex-prostitute (Brittany Murphy) evades her ex-pimp
                            (Benicio Del Toro) with the help of her new boyfriend, Dwight (Clive Owen).</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">IMDB <a href="https://www.imdb.com/title/tt0401792/" target="_blank">
                                Sin city</a></small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./images/dp.jpg" alt="Death Proof cover">
                    <div class="card-body">
                        <h5 class="card-title text-center">Death Proof</h5>
                        <p class="card-text text-justify">Stuntman Mike (Kurt Russell) is a professional body double who
                            likes to take unsuspecting women for deadly drives in his free time. He has doctored his car
                            for maximum impact; when Mike purposely causes wrecks, the bodies pile up while he walks
                            away with barely a scratch. The insane Mike may be in over his head, though, when he targets
                            a tough group of female friends, including real-life stuntwoman Zoe Bell (who served as Uma
                            Thurman's double in "Kill Bill"), who plays herself.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">IMDB <a href="https://www.imdb.com/title/tt1028528/" target="_blank">
                                Death Proof</a></small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./images/pt.jpg" alt="Planet terror cover">
                    <div class="card-body">
                        <h5 class="card-title text-center">Planet terror</h5>
                        <p class="card-text text-justify">An ordinary evening in a small Texas town becomes a grisly
                            nightmare when a horde of flesh-eating zombies goes on the prowl. Cherry (Rose McGowan), a
                            go-go dancer, and Wray (Freddy Rodriguez), her ex-lover, band together with other survivors
                            in a no-holds barred effort to escape the carnage. The odds become a bit more even when
                            Cherry, who lost her leg to a hungry ghoul, gets a machine-gun appendage and lets the
                            bullets fly.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">IMDB <a href="https://www.imdb.com/title/tt1077258/" target="_blank">
                                Planet terror</a></small>
                    </div>
                </div>
            </div>
            <!-- FIVE ROW -->
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="./images/mb.jpg" alt="Inglourious Basterds cover">
                    <div class="card-body">
                        <h5 class="card-title text-center">Inglourious Basterds</h5>
                        <p class="card-text text-justify">It is the first year of Germany's occupation of France. Allied
                            officer Lt. Aldo Raine (Brad Pitt) assembles a team of Jewish soldiers to commit violent
                            acts of retribution against the Nazis, including the taking of their scalps. He and his men
                            join forces with Bridget von Hammersmark, a German actress and undercover agent, to bring
                            down the leaders of the Third Reich. Their fates converge with theater owner Shosanna
                            Dreyfus, who seeks to avenge the Nazis' execution of her family.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">IMDB <a href="https://www.imdb.com/title/tt0361748/" target="_blank">
                                Inglourious Basterds</a></small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./images/du.jpg" alt="Django unchained cover">
                    <div class="card-body">
                        <h5 class="card-title text-center">Django unchained</h5>
                        <p class="card-text text-justify">“Django Unchained” is a rip-roaring revenge actioner set in
                            the American South just two years before the Civil War. It follows Django, a slave freed and
                            trained as a bounty hunter by sophisticated German-born Dr. King Schultz, who is appalled by
                            the racist ways of the antebellum South.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">IMDB <a href="https://www.imdb.com/title/tt1853728/" target="_blank">
                                Django unchained</a></small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./images/pt.jpg" alt="The Hateful Eight cover">
                    <div class="card-body">
                        <h5 class="card-title text-center">The Hateful Eight</h5>
                        <p class="card-text text-justify">While racing toward the town of Red Rock in post-Civil War
                            Wyoming, bounty hunter John "The Hangman" Ruth (Kurt Russell) and his fugitive prisoner
                            (Jennifer Jason Leigh) encounter another bounty hunter (Samuel L. Jackson) and a man who
                            claims to be a sheriff. Hoping to find shelter from a blizzard, the group travels to a
                            stagecoach stopover located on a mountain pass. Greeted there by four strangers, the eight
                            travelers soon learn that they may not make it to their destination after all.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">IMDB <a href="https://www.imdb.com/title/tt3460252/" target="_blank">
                                The Hateful Eight</a></small>
                    </div>
                </div>
            </div>
            <!-- FIVE ROW -->
            <div class="card-group">
                <div class="card">

                </div>
                <div class="card">
                    <img class="card-img-top" src="./images/out.jpg" alt=" Once upon a time in Hollywood cover">
                    <div class="card-body">
                        <h5 class="card-title text-center">Once upon a time in Hollywood</h5>
                        <p class="card-text text-justify">Actor Rick Dalton gained fame and fortune by starring in a
                            1950s television Western, but is now struggling to find meaningful work in a Hollywood that
                            he doesn't recognize anymore. He spends most of his time drinking and palling around with
                            Cliff Booth, his easygoing best friend and longtime stunt double. Rick also happens to live
                            next door to Roman Polanski and Sharon Tate -- the filmmaker and budding actress whose
                            futures will forever be altered by members of the Manson Family.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">IMDB <a href="https://www.imdb.com/title/tt7131622/" target="_blank">
                                Once upon a time in Hollywood</a></small>
                    </div>
                </div>
                <div class="card">

                </div>
            </div>
        </main>

        <!-- Footer -->
        <footer class="text-center text-lg-start bg-light text-muted">
            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3 ">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4" style="margin-top: 40px;">

                            </h6>
                            <p>
                                Quentin Tarantino rulez.
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4" style="margin-top: 40px;">
                                Useful Links
                            </h6>
                            <p>
                                <a href="https://www.imdb.com/name/nm0000233/?ref_=fn_al_nm_1" class="text-reset"
                                    target="_blank">IMDB</a>
                            </p>
                            <p>
                                <a href="https://en.wikipedia.org/wiki/Quentin_Tarantino" class="text-reset"
                                    target="_blank">Wikipedia</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4" style="margin-top: 40px;">
                                Best cameo ever
                            </h6>
                            <p>
                                <a href="https://www.youtube.com/watch?v=Nq-ncj5mzsY&ab_channel=Dami%C3%A1nHern%C3%A1ndez"
                                    class="text-reset" target="_blank">Little Nicky</a>
                            </p>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4" style="margin-top: 40px;">
                                Contact
                            </h6>
                            <p><i class="fas fa-home me-3"></i> Los Angeles, Hollywood</p>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                                notQuentin@gmail.com <br>(hope this don't exist)
                            </p>
                            <p><i class="fas fa-phone me-3"></i> + 66 938 22 XXX</p>
                            <p><i class="fas fa-print me-3"></i> + 66 938 22 XXX</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2021 Copyright:
                <a class="text-reset fw-bold" href="#">I guess, localhost</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>